body {
	background-color: black;
	color: white;
	text-align: center;
}

#layout {
	margin: 40px auto;
}

#tetrisfield, #nextstone {
	border-collapse: separate;
	border: 10px solid gray;
}

#nextstone {
	margin-bottom: 150px;
}

#tetrisfield td, #nextstone td {
	width: 23px;
	height: 23px;
	background-color: rgba(255, 255, 255, 0.1);
}

/* Vordefinierten Farben der Steine */
#blue { background-color: blue !important; }
#yellow { background-color: yellow !important; }
#red { background-color: red !important; }
#green { background-color: green !important; }